______
**1. Write a program to initialize a dictionary (of your choice) and create a pandas DataFrame from it. Print the dataframe?**

In [1]:
import pandas as pd
data = {'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age': [20, 21, 19, 18]}
df = pd.DataFrame(data)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

___
**2. Write a program to read the CSV file "summer.csv" into a pandas DataFrame "df", display the first 5 rows, and print the DataFrame's shape**

In [2]:
df = pd.read_csv('summer.csv')
print(df.head())
print(df.shape)

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal
0              100M Freestyle    Gold
1              100M Freestyle  Silver
2  100M Freestyle For Sailors  Bronze
3  100M Freestyle For Sailors    Gold
4  100M Freestyle For Sailors  Silver
(31165, 9)

___
**3. Write a program to display the last 10 rows of the DataFrame?**

In [3]:
print(df.tail(10))

       Year    City      Sport           Discipline  \
31155  2012  London  Wrestling  Wrestling Freestyle
31156  2012  London  Wrestling  Wrestling Freestyle
31157  2012  London  Wrestling  Wrestling Freestyle
31158  2012  London  Wrestling  Wrestling Freestyle
31159  2012  London  Wrestling  Wrestling Freestyle
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                            Athlete Country Gender     Event   Medal
31155                 AHMADOV, Emin     AZE    Men  Wg 74 KG  Bronze
31156          KAZAKEVIC, Aleksandr     LTU    Men  Wg 74 KG  Bronze
31157                 KHUGAEV, Alan     RUS    Men  Wg 84 KG    Gold
31158  EBRAHIM, Karam Mohamed Gaber     EGY    Men  Wg 84 KG  Silver
31159               GAJIYEV, Danyal     KAZ    Men  Wg 84 KG  Bronze
31160            JANIKOWSKI, Damian     POL    Men  Wg 84 KG  Bronze
31161     REZAEI, Ghasem Gholamreza     IRI    Men  Wg 96 KG    Gold
31162                TOTROV, Rustam     RUS    Men  Wg 96 KG  Silver
31163             ALEKSANYAN, Artur     ARM    Men  Wg 96 KG  Bronze
31164                LIDBERG, Jimmy     SWE    Men  Wg 96 KG  Bronze

___
**4. Write a program to get a summary of the DataFrame (such as the mean, count, etc.) and print the data types of all columns?**

In [4]:
print(df.describe())
print(df.dtypes)

               Year
count  31165.000000
mean    1970.482785
std       33.158416
min     1896.000000
25%     1948.000000
50%     1980.000000
75%     2000.000000
max     2012.000000
Year           int64
City          object
Sport         object
Discipline    object
Athlete       object
Country       object
Gender        object
Event         object
Medal         object
dtype: object

___
**5. Write a program to select a single column "Gender" from the DataFrame?**

In [5]:
print(df['Gender'])

0        Men
1        Men
2        Men
3        Men
4        Men
        ...
31160    Men
31161    Men
31162    Men
31163    Men
31164    Men
Name: Gender, Length: 31165, dtype: object

___
**6. Write a program to select multiple columns "Year" and "City" from the DataFrame?**

In [6]:
print(df[['Year', 'City']])

       Year    City
0      1896  Athens
1      1896  Athens
2      1896  Athens
3      1896  Athens
4      1896  Athens
...     ...     ...
31160  2012  London
31161  2012  London
31162  2012  London
31163  2012  London
31164  2012  London

[31165 rows x 2 columns]

___
**7. Write a program to filter rows in a DataFrame based on the condition that Gender = Men ?**

In [7]:
print(df[df['Gender'] == 'Men'])

       Year    City      Sport           Discipline  \
0      1896  Athens   Aquatics             Swimming
1      1896  Athens   Aquatics             Swimming
2      1896  Athens   Aquatics             Swimming
3      1896  Athens   Aquatics             Swimming
4      1896  Athens   Aquatics             Swimming
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender                       Event  \
0                  HAJOS, Alfred     HUN    Men              100M Freestyle
1               HERSCHMANN, Otto     AUT    Men              100M Freestyle
2              DRIVAS, Dimitrios     GRE    Men  100M Freestyle For Sailors
3             MALOKINIS, Ioannis     GRE    Men  100M Freestyle For Sailors
4             CHASAPIS, Spiridon     GRE    Men  100M Freestyle For Sailors
...                          ...     ...    ...                         ...
31160         JANIKOWSKI, Damian     POL    Men                    Wg 84 KG
31161  REZAEI, Ghasem Gholamreza     IRI    Men                    Wg 96 KG
31162             TOTROV, Rustam     RUS    Men                    Wg 96 KG
31163          ALEKSANYAN, Artur     ARM    Men                    Wg 96 KG
31164             LIDBERG, Jimmy     SWE    Men                    Wg 96 KG

        Medal
0        Gold
1      Silver
2      Bronze
3        Gold
4      Silver
...       ...
31160  Bronze
31161    Gold
31162  Silver
31163  Bronze
31164  Bronze

[22746 rows x 9 columns]

___
**8. Write a program to select and print the first 5 rows and columns 2 to 6 (inclusive) of the DataFrame. Also, print the type of the resulting object?**

In [8]:
print(df.iloc[0:5, 2:7])

      Sport Discipline             Athlete Country Gender
0  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

___
**9. Write a program to select all rows where the "Year" column is greater than 2000?**
___

In [9]:
print(df[df['Year'] > 2000])

       Year    City      Sport           Discipline  \
25176  2004  Athens   Aquatics               Diving
25177  2004  Athens   Aquatics               Diving
25178  2004  Athens   Aquatics               Diving
25179  2004  Athens   Aquatics               Diving
25180  2004  Athens   Aquatics               Diving
...     ...     ...        ...                  ...
31160  2012  London  Wrestling  Wrestling Freestyle
31161  2012  London  Wrestling  Wrestling Freestyle
31162  2012  London  Wrestling  Wrestling Freestyle
31163  2012  London  Wrestling  Wrestling Freestyle
31164  2012  London  Wrestling  Wrestling Freestyle

                         Athlete Country Gender         Event   Medal
25176                TIAN, Liang     CHN    Men  10M Platform  Bronze
25177                    HU, Jia     CHN    Men  10M Platform    Gold
25178               HELM, Mathew     AUS    Men  10M Platform  Silver
25179              TOURKY, Loudy     AUS  Women  10M Platform  Bronze
25180         NEWBERY, Chantelle     AUS  Women  10M Platform    Gold
...                          ...     ...    ...           ...     ...
31160         JANIKOWSKI, Damian     POL    Men      Wg 84 KG  Bronze
31161  REZAEI, Ghasem Gholamreza     IRI    Men      Wg 96 KG    Gold
31162             TOTROV, Rustam     RUS    Men      Wg 96 KG  Silver
31163          ALEKSANYAN, Artur     ARM    Men      Wg 96 KG  Bronze
31164             LIDBERG, Jimmy     SWE    Men      Wg 96 KG  Bronze

[5989 rows x 9 columns]

___
**10. Write a program to create a new column "Sport_Discipline" that concatenates the values from the "Sport" and "Discipline" columns?**
___

In [10]:
df['Sport_Discipline'] = df['Sport'] + ' - ' + df['Discipline']
print(df.head())

   Year    City     Sport Discipline             Athlete Country Gender  \
0  1896  Athens  Aquatics   Swimming       HAJOS, Alfred     HUN    Men
1  1896  Athens  Aquatics   Swimming    HERSCHMANN, Otto     AUT    Men
2  1896  Athens  Aquatics   Swimming   DRIVAS, Dimitrios     GRE    Men
3  1896  Athens  Aquatics   Swimming  MALOKINIS, Ioannis     GRE    Men
4  1896  Athens  Aquatics   Swimming  CHASAPIS, Spiridon     GRE    Men

                        Event   Medal     Sport_Discipline
0              100M Freestyle    Gold  Aquatics - Swimming
1              100M Freestyle  Silver  Aquatics - Swimming
2  100M Freestyle For Sailors  Bronze  Aquatics - Swimming
3  100M Freestyle For Sailors    Gold  Aquatics - Swimming
4  100M Freestyle For Sailors  Silver  Aquatics - Swimming

___
**11. Write a program to group the df DataFrame by the "Country" column and calculate the total number of medals for each country. Print the result**
___

In [11]:
print(df.groupby('Country')['Medal'].count())

Country
AFG      2
AHO      1
ALG     15
ANZ     29
ARG    259
      ...
VIE      2
YUG    435
ZAM      2
ZIM     23
ZZX     48
Name: Medal, Length: 147, dtype: int64

___
**12. Write a program to find the country that has won the most Gold medals?**
___

In [12]:
gold_medals = df[df['Medal'] == 'Gold']
print(gold_medals.groupby('Country')['Medal'].count().idxmax())

USA

___
**13. Write a program to find the number of unique cities that have hosted the Olympics?**
___

In [13]:
print(df['City'].nunique())

22

___
**14. Write a program to find the number of unique sports in the dataset?**
___

In [14]:
print(df['Sport'].nunique())

43

___
**15. Write a program to find the number of unique athletes in the dataset?**
___

In [15]:
print(df['Athlete'].nunique())

22762

___
**16. Write a program to find the athlete who has won the most medals?**
___

In [16]:
print(df['Athlete'].value_counts().idxmax())

PHELPS, Michael

___
**17. Write a program to find the number of medals won by the United States in the 2012 Summer Olympics?**
___

In [17]:
print(df[(df['Country'] == 'USA') & (df['Year'] == 2012)].shape[0])

250

___
**18. Write a program to count the number of medals for each medal type (Gold, Silver, Bronze) for China in the 2008 Summer Olympics?**
___

In [18]:
print(df[(df['Country'] == 'CHN') & (df['Year'] == 2008)]['Medal'].value_counts())

Medal
Gold      74
Bronze    57
Silver    53
Name: count, dtype: int64

___
**19. Write a program to group the df DataFrame by the "Country" column and find the number of unique athletes in each country. Print the result**
___

In [19]:
print(df.groupby('Country')['Athlete'].nunique())

Country
AFG      1
AHO      1
ALG     14
ANZ     25
ARG    221
      ...
VIE      2
YUG    351
ZAM      2
ZIM     17
ZZX     48
Name: Athlete, Length: 147, dtype: int64

___
**20. Write a program to group the df DataFrame by the "Athlete" column and find the total number of medals won by each athlete. Print the athlete's name and the total number of medals they have won.**

In [20]:
print(df.groupby('Athlete')['Medal'].count())

Athlete
AABYE, Edgar                 1
AALTONEN, Arvo Ossian        2
AALTONEN, Paavo Johannes     5
AAMODT, Ragnhild             1
AANING, Alf Lied             1
                            ..
ÖSTERVOLD, Jan Olsen         1
ÖSTERVOLD, Kristian Olsen    1
ÖSTERVOLD, Ole Olsen         1
ÖSTMO, Ole                   4
ÖSTRAND, Per-Olof            1
Name: Medal, Length: 22762, dtype: int64

___
**21. Write a program to group the df DataFrame by the "Sport" column and calculate the number of each type of medal (Gold, Silver, Bronze) for each sport. Print the results.**

In [21]:
print(df.groupby(['Sport', 'Medal']).size().unstack(fill_value=0))

Medal              Bronze  Gold  Silver
Sport
Aquatics             1365  1421    1384
Archery                90   126     113
Athletics            1199  1215    1224
Badminton              52    46      46
Baseball              112   111     112
Basketball            334   342     336
Basque Pelota           0     2       2
Boxing                416   239     239
Canoe                  27    27      27
Canoe / Kayak         334   334     334
Cricket                 0    12      12
Croquet                 2     4       2
Cycling               365   371     369
Equestrian            306   320     313
Fencing               519   552     542
Football              509   503     485
Golf                    4    13      13
Gymnastics            731   820     756
Handball              323   321     329
Hockey                459   486     477
Ice Hockey              8     8      11
Jeu de paume            1     1       1
Judo                  246   123     122
Lacrosse                0    28      31
Modern Pentathlon      60    60      60
Polo                   17    22      27
Rackets                 4     3       3
Roque                   1     1       1
Rowing                888   890     889
Rugby                  23    78      91
Sailing               325   412     372
Shooting              380   384     386
Skating                 9     9       9
Softball               60    60      60
Table Tennis           52    46      46
Taekwondo              48    32      32
Tennis                114    92      90
Triathlon               8     8       8
Tug of War             22    36      36
Volleyball            331   332     331
Water Motorsports       0     5       0
Weightlifting         197   200     196
Wrestling             428   391     393

### Good Luck!